{
    "github.copilot.nextEditSuggestions.enabled": true,
    "editor.fontFamily": "'Iosevka Nerd Font', 'Droid Sans Mono', 'monospace', monospace",
    "workbench.startupEditor": "none",
    "python.analysis.typeCheckingMode": "strict",
    "claudeCode.preferredLocation": "panel",
    "claudeCode.hideOnboarding": true,
    "window.titleBarStyle": "native"
}
