[Unit]
Description=Retrieves the external ip address, retrieves the location based on the ip address and retrieves sunrise and sunset time based on this location; stores this information in an InfluxDB bucket.
Wants=network-online.target
After=network-online.target infuxdb.service

[Service]
ExecStart=/usr/bin/python /usr/local/bin/sss_location.py
Restart=on-failure

[Install]
WantedBy=multi-user.target