[Unit]
Description=Runs sss_location.py every day.

[Timer]
Persistent=true
OnBootSec=0
OnCalendar=0/12:00
Unit=sss_location.service

[Install]
WantedBy=timers.target