[Unit]
Description=Runs sss_power.py every minute.

[Timer]
Persistent=true
OnBootSec=32
OnCalendar=*:0/1
Unit=sss_power.service

[Install]
WantedBy=timers.target
