URxvt.scrollBar: false

URxvt*background: Black
URxvt*foreground: White

URxvt*font: xft:SauceCodePro Nerd Font:style=Regular:pixelsize=32:antialias=true
URxvt*boldFont: xft:SauceCodePro Nerd Font:style=Bold:pixelsize:42:antialias=true

Xft.dpi: 288
Xft.antialias: true
Xft.rgb: none
Xft.hintstyle: hintfull
