configuration {
    timeout {
        action: "kb-cancel";
        delay: 0;
    }
    filebrowser {
        directories-first:true;
        sorting-method: "name";
    }
    display-run: "> ";
    display-window: " # ";
    display-power: " ! ";
    window-format: "[{w}]  {c}   {t}";
    window-match-fields: "title,class,desktop";
}

@theme "theme"